@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Sanchez:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/imagenDeFundo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 550px;
    padding: 30px 40px;
}

form {
    background-color: #EEEEE4;
    height: 430px;
    padding: 30px 35px;
    border-radius: 50px;
    box-shadow: 0 5px 0 -1px;
}

.input-box {
    width: 100%;
    height: 45px;
    margin: 6px 0;
    background-color: #E9DBCE;
}

.container img {
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: #E9DBCE;
    border: 2px solid #CCC7C1;
    padding: 7px;
    color: #4D3C2C;
    font-size: 14px;
    outline: none;
}

h1 {
    color: #4D3C2C;
    text-align: center;
    font-size: 40px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    background-color: #4D3C2C;
    color: #E0B99A;
    border: 2px solid #423529;
    cursor: pointer;
    font-weight: 500;
}

.dyaprofessor {
    display: flex;
    justify-content: center;
    margin: 7px 0;
    text-decoration: none;
    color: #4D3C2C;
    font-size: 18px;
    font-weight: 500;
}

.dyaprofessor:hover {
    text-decoration: underline;
}

hr {
    width: 170px;
    display: block;
    margin: auto;
}

.register {
    display: flex;
    justify-content: center;
    margin: 7px 0;
    text-decoration: none;
    color: #4D3C2C;
    font-size: 18px;
    font-weight: 500;
}

.register:hover {
    text-decoration: underline;
}