@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Sanchez:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/imagenDeFundo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-container {
    background-color: #EEEEE4;
    border-radius: 50px;
    box-shadow: 0 5px 0 -1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container {
    width: 550px;
    padding: 30px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-profile {
    width: 300px;
    height: 300px;
}

.user-profile img {
    width: 100%;
    height: 100%;
}

#edit-profile {
    background-color: #523E26;
    width: 250px;
    height: 35px;
    padding: 4px;
    border: 3px solid #534633;
    color: #D5C0AD;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

#edit-profile:hover {
    background-color: #3b2d1c;
    transition: 0.4s;
}

h1 {
    color: #4D3C2C;
    bottom: 60px;
    font-size: 45px;
    text-align: center;
}

form {
    background-color: #EEEEE4;
    height: 480px;
    width: 480px;
    padding: 25px 35px;
}

.input-box {
    width: 100%;
    height: 45px;
    margin: 30px 0;
    background-color: #E9DBCE;
}

#password, #email, #username, #subject {
    width: 100%;
    height: 100%;
    padding: 7px;
    background-color: #E9DBCE;
    border: 3px solid #CCC7C1;
    color: #4D3C2C;
    font-size: 14px;
    outline: none;
}

.valores {
    font-size: 15px;
    text-align: center;
    border: 3px solid #CCC7C1;
}

.valores input:checked {
    accent-color: #3b2d1c;
}

button {
    width: 100%;
    margin: 8px 0;
    height: 35px;
    border: 3px solid #534633;
    background-color: #523E26;
    color: #D5C0AD;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}

button:hover {
    background-color: #3b2d1c;
    transition: 0.4s;
}

.input-box a {
    position: relative;
    bottom: -2px;
    visibility: hidden;
}

.input-box-error {
    width: 100%;
    height: 45px;
    margin: 30px 0;
    background-color: #E9DBCE;
}

.input-box-error input{
    width: 100%;
    height: 100%;
    padding: 7px;
    background-color: #E9DBCE;
    border: 3px solid #ff3b25;
    color: #4D3C2C;
    font-size: 14px;
    outline: none;
}

.input-box-error a{
    color: #ff3b25;
    position: relative;
    bottom: -1px;
    font-size: 15px;
}