<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/areadoAluno.css">
    <title>ÁREA DO ALUNO</title>
</head>
<body>
    
    <div class="container">
        <h1>ÁREA DO ALUNO</h1>
        <form>

            <div class="input-box">
                <input placeholder="Nome:" type="text" id="nome" required>
            </div>

            <div class="input-box">
                <input placeholder="E-mail:" type="email" required>
            </div>

            <div class="input-box">
                <input placeholder="Senha:" type="password" required>
            </div>

            <div class="input-box">
                <fieldset>
                    <label for="turma">Turmas:</label>
                    <select name="turma" id="turma">
                        <option value="A">1°A</option>
                        <option value="B">1°B</option>
                        <option value="C">1°C</option>
                        <option value="D">1°D</option>
                        <option value="E">1°E</option>
                        <option value="F">2°F</option>
                        <option value="G">2°G</option>
                        <option value="H">2°H</option>
                        <option value="I">2°I</option>
                        <option value="J">2°J</option>
                        <option value="K">3°K</option>
                        <option value="L">3°L</option>
                        <option value="M">3°M</option>
                        <option value="N">3°N</option>
                        <option value="O">3°O</option>
                        <option value="P">3°P</option>
                    </select>
                </fieldset>
            </div>

            <button type="submit">Submeter</button>

        </form>
        
    </div>
    <script src="../static/js/alunoRegistro.js"></script>
</body>
</html>