<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/indexAluno.css">
    <title>Avaliação da aula</title>
</head>
<body>
    <div id="professores">
        
    </div>

    <div id="AvaliarAula">
        <div id="nota">
            <div class="titulo">
                <h2>A nota desse professor é:</h2>
            </div>
            <div class="opcoes">
                <div id="nota-1" class="nota">1</div>
                <div id="nota-2" class="nota">2</div>
                <div id="nota-3" class="nota">3</div>
                <div id="nota-4" class="nota">4</div>
                <div id="nota-5" class="nota">5</div>
                <div id="nota-6" class="nota">6</div>
                <div id="nota-7" class="nota">7</div>
                <div id="nota-8" class="nota">8</div>
                <div id="nota-9" class="nota">9</div>
                <div id="nota-10" class="nota">10</div>
            </div>
        </div>
        <div id="comentario"> 
            <div class="titulo">
                <h2>Deixe um comentário:</h2>
            </div>
            <div class="opcoes">
                <div id="comentario-1" class="comentario">Ótimo.</div>
                <div id="comentario-2" class="comentario">Bom.</div>
                <div id="comentario-3" class="comentario">Medio.</div>
                <div id="comentario-4" class="comentario">Ruim.</div>
                <div id="comentario-5" class="comentario">Péssimo.</div>
            </div> 
        </div>
        <div id="btn-avaliar">
            <button type="submit" id="btn-avaliar">Avaliar</button>
        </div>
    </div>
    <div id="deslogar">
        <button type="submit" id="logout">deslogar</button>
    </div>
    <script src="../static/js/indexAluno.js"></script>
</body>
</html>