<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/avaliacaoProfessor.css">
    <title>Área do Professor</title>
</head>
<body>
    <div id="container">
        <div class="info-professor">
            <h1 id="nomeProfessor">Carregando...</h1>
        </div>
        
        <div class="principal">
            <div class="avaliacao" id="aula">
                <p>Suas aulas são:</p> 
                <p class="melhorar">Carregando...</p>
            </div>
            
            <div class="avaliacao" id="nota">
                <p>Sua nota:</p> 
                <p class="nota">Carregando...</p>
            </div>
        </div>
        
        <div id="button"><button type="submit" class="btn-logout">Sair</button></div>
    </div>

    <script src="../static/js/indexProfessor.js"></script>
</body>
</html>