<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../static/css/loginProfessor.css">
     <title>ÁREA DO PROFESSOR | LOGIN</title>
</head>

<body>
    
    <div class="container">

        <h1>ÁREA DO PROFESSOR</h1>

        <form>

            <img src="../static/img/pnguser.png" alt="Usuário">

            <div class="input-box">
                <input placeholder="E-mail" type="email" required>
            </div>

            <div class="input-box">
                <input placeholder="Senha" type="password" required>
            </div>
            
            <button type="submit">Fazer Login</button>

            <a class="dyaprofessor" href="loginAluno.html">Você é um aluno?</a>

            <hr>

            <a class="register" href="registerProfessor.html">Criar uma conta</a>

        </form>

    </div>

    <script src="../static/js/professorLogin.js"></script>
</body>

</html>