<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/loginAluno.css">
    <title>ÁREA DO ALUNO | LOGIN</title>
</head>
<body>
    <div class="container">
        <h1>ÁREA DO ALUNO</h1>
        <form>

            <img src="../static/img/pnguser.jpeg" alt="Usuário">

            <div class="input-box">
                <input placeholder="E-mail" type="email" required>
            </div>

            <div class="input-box">
                <input placeholder="Senha" type="password" required>
            </div>
            
            <button type="submit">Fazer Login</button>

            <a class="dyastudent" href="loginProfessor.html">Você é um professor?</a>

            <hr>

            <a class="register" href="areadoAluno.html">Criar uma conta</a>
        </form>

    </div>

    <script src="../static/js/alunoLogin.js"></script>
</body>
</html>