<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/registerProfessor.css">
    <title>ÁREA DO PROFESSOR | CADASTRO</title>
</head>

<body>



    <div class="main-container">
        <h1>ÁREA DO PROFESSOR</h1>
        <div class="sub-container">
            <div class="container">
                <div class="user-profile">
                    <img src="../static/img/pnguser.png" alt="Foto de Perfil">
                </div>
                <input type="image">
            </div>
            <div class="container">
                    <form id="form">
                        <div class="input-box">
                            <input placeholder="Nome:" type="text" id="username">
                            <a>Aqui vai a mensagem de erro....</a>
                        </div>
        
                        <div class="input-box">
                            <input placeholder="E-mail:" type="email" id="email">
                            <a>Aqui vai a mensagem de erro....</a>
                        </div>
        
                        <div class="input-box">
                            <input placeholder="Senha:" type="password" id="password">
                            <a>Aqui vai a mensagem de erro....</a>
                        </div>
                        <div class="input-box">
                            <div class="valores">
                                <input type="checkbox" name="A" id="" value="A"> 1°A
                                <input type="checkbox" name="B" id="" value="B"> 1°B
                                <input type="checkbox" name="C" id="" value="C"> 1°C
                                <input type="checkbox" name="D" id="" value="D"> 1°D
                                <input type="checkbox" name="E" id="" value="E"> 1°E
                                <input type="checkbox" name="F" id="" value="F"> 2°F
                                <input type="checkbox" name="G" id="" value="G"> 2°G
                                <input type="checkbox" name="H" id="" value="H"> 2°H <br>
                                <input type="checkbox" name="I" id="" value="I"> 2°I
                                <input type="checkbox" name="J" id="" value="J"> 2°J
                                <input type="checkbox" name="K" id="" value="K"> 3°K
                                <input type="checkbox" name="L" id="" value="L"> 3°L
                                <input type="checkbox" name="M" id="" value="M"> 3°M
                                <input type="checkbox" name="N" id="" value="N"> 3°N
                                <input type="checkbox" name="O" id="" value="O"> 3°O
                                <input type="checkbox" name="P" id="" value="P"> 3°P
                            </div>
                            <a>Aqui vai a mensagem de erro....</a>
                        </div>
                        <button id="submit">Cadastrar</button>
                    </form>
            </div>
        </div>
    </div>
<script src="../static/js/registerProfessor.js"></script>
</body>

</html>